*
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#blocpage
{
	max-width: 1000px;
	min-width: 500px;

	background-color: #AAAAAA;
}

header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #FF7756;
}

#main_sreen
{
	display: flex;
	flex-direction: row;
}

div
{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	
	/*border: solid black 2px;*/
}

aside
{
	border: solid red 2px;
}

p
{
	border: solid black 2px;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;

	color: white;
	background-color: black;
}